body{
			background-position: 50% 0%;
			background-image: url("imgs/background.jpg");
			
		}
		.menu{
		
			box-shadow: 4px 4px 3px 3px black;
			border: 5px solid #8C6002;
		background-color: #FFFFFF;
			width: 1200px;
			height: 600px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-right: -50%;
			transform: translate(-50%,-50%);
			text-align:center;
		}
		.menulogin{
		font: normal 10pt Arial !important;
		box-shadow: 2px 2px 2px 1px black;
		background-color: #8f8f8f !important;
		width:30%;
		height:70%;
			border:3px solid black;
		position: absolute;
			left: 50%;
			top: 15%;
			margin-right: -50%;
			transform: translate(-50%,0%);
			text-align:center;
			transition: all 0.5s;
		
		}
		.menulogin:hover{
		box-shadow: 4px 4px 2px 1px black;
		top:14.8%;
		}
		.botaologar{
		background-color: #F5F5F5;
		width: 70px;
		height: 30px;
		border-radius: 4px;
		transition: all 0.5s;

		}
		.botaologar:hover{
		
		background-color: #4A4A4A;
		

		}
		
		.imagem{
		background-image: url("imgs/administrador.png");
		width:210px;
		height:200px;	
		}
		.textoregistro3{
		position:absolute;
		left: 3%;
		}
		.textoregistro2{
		position:absolute;
		left: 19%;
		}
		.textoregistro1{
		position:absolute;
		left: 17.5%;
		}
		.inputsregistro{
		border-radius: 4px;
		border:2px solid black;
		position:absolute;
		left: 32.5%;
		}
		.errorusuariojaexiste{
		position:absolute;
		left: 32.5%;
		top:50%;
		}
		.errors{
		font: normal 12pt Arial;
	color: red;
		}
		.titulo{
		font: normal 25pt Arial !important;
		position:absolute;
		left: 50%;
		top:10%;
		margin-right: -50%;
			transform: translate(-50%,0%);
	
		}
		.inputsConcerto{
		font: normal 20pt Arial !important;
		width: 80%;
		height: 80%;
		position: absolute;
		left: 50%;
			top: 50%;
			margin-right: -50%;
			transform: translate(-50%,0%);
		}
		.botaoadicionar{
		background-color: #F5F5F5;
		width:8%;
		height: 8%;
		border-radius: 4px;
		transition: all 0.5s;
		}
		.botaoadicionar:hover{
		background-color: #4A4A4A;
		}
		.resultado{
		font: normal 25pt Arial !important;
		}
		.titulo2{
		font: bold 25pt Arial !important;
		
		}
		.valores{
		font: normal 20pt Arial !important;
		}
		.ResultadosTextos{
		position: absolute;
		top:30%;
		left: 50%;
	
			margin-right: -50%;
			transform: translate(-50%,0%);
		}
		.botaovoltar{
		background-color:#8B8B8B;
		border: 2px 2px 1px 1px black;
		width:7%;
		height:7%;
		position:absolute;
		top:80%;
		left: 50%;
	
			margin-right: -50%;
			transform: translate(-50%,0%);
			transition: all 0.5s;
		}
		.botaovoltar:hover{
		background-color:#2E2E2E;
		}