body{
			background-position: 50% 0%;
			background-image: url("imgs/background.jpg");
			
		}
	.menu{
			box-shadow: 4px 4px 3px 3px black;
			border: 5px solid #8C6002;
		background-color: #FFFFFF;
			width: 1200px;
			height: 600px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-right: -50%;
			transform: translate(-50%,-50%);
		}
		

		.tabela{
		
		position: absolute;
			left: 50%;
			top: 5%;
			margin-right: -50%;
			transform: translate(-50%,0%);
		
		width:1100px !important;
		height:550px !important;
		
		}
		.linhas{
		font: normal 10pt Arial !important;
		}

       .botoes{
       width:100%;
       text-align:center;
       background-color:#8f8f8f;
       border-radius: 3px;
       transition: all 0.5s;
       }
       .botoes:hover{
       background-color:#474747;
      
       }
       .inputs{
       width:100%;
       }
		th{
		border:1px solid black !important;
		background-color: #8f8f8f !important;
        background-image: none !important;
        color: #000000!important;
		}
		.div{
		width:25%;
		height:60%;
		border:1px solid black;
		position: absolute;
			left: 50%;
			top: 20%;
			margin-right: -50%;
			transform: translate(-50%,10%);
		}
		.menulogin{
		font: normal 10pt Arial !important;
		box-shadow: 2px 2px 2px 1px black;
		background-color: #8f8f8f !important;
		width:30%;
		height:70%;
			border:3px solid black;
		position: absolute;
			left: 50%;
			top: 15%;
			margin-right: -50%;
			transform: translate(-50%,0%);
			text-align:center;
			transition: all 0.5s;
		
		}
		.menulogin:hover{
		box-shadow: 4px 4px 2px 1px black;
		top:14.8%;
		}
		.botaologar{
		background-color: #F5F5F5;
		width: 70px;
		height: 30px;
		border-radius: 4px;

		}
		.botaologar:hover{
		transition: all 0.5s;
		background-color: #4A4A4A;
		

		}
		
		.imagem{
		background-image: url("imgs/administrador.png");
		width:210px;
		height:200px;	
		}
		.textoregistro3{
		position:absolute;
		left: 3%;
		}
		.textoregistro2{
		position:absolute;
		left: 19%;
		}
		.textoregistro1{
		position:absolute;
		left: 17.5%;
		}
		.inputsregistro{
		border-radius: 4px;
		border:2px solid black;
		position:absolute;
		left: 32.5%;
		}
		.errorusuariojaexiste{
		position:absolute;
		left: 32.5%;
		top:50%;
		}
		.errors{
		font: normal 12pt Arial;
	color: red;
		}
		
		
